/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
#small{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5A3D23;
}

#large{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #5A3D23;
}

#footer{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #5A3D23;
    text-align: left;
}
/*--------------------------------------------------------------
General Layout
--------------------------------------------------------------*/
body{
    margin: 0;
    background-image: url("resources/drywall.png");
    max-width: 2200px;
}

.col-xs-12,
.col-sm-4,
.col-md-3,
.col-lg-2{
    padding: 30px 0 30px 0;
}

.box-wrapper{
    position: relative;
    height: 300px;
    text-align: center;

}

#clock-background{
    position: relative;
    top: 0px;
    z-index: -1;
}

#clock-l{
    position: relative;
    top: -254px;
}

#clock-s{
    position: relative;
    top: -248px;
}

#plaque{
    position: relative;
    top: 60px;

}

#small{
    position: relative;
    top: 26px;
}

#large{
    position: relative;
    top: 23px;
}

/* Format svg clock arms */
.hour-arm {
    fill: none;
    stroke: #000;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #000;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Make all arms rotate around the same center point. */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    transition: transform .5s ease-in-out;
}

/* Window social media graphic formatting */
#brown-bird{
    position: absolute;
    margin-top: 35.4%;
    top: 0;
    left: 60%;
    transition: all 1.5s cubic-bezier(0.370, 1.620, 0.630, 1.410);
}

#red-bird{
    position: absolute;
    margin-top: 38.1%;
    top: 0;
    left: 52%;
    transition: all 1.5s cubic-bezier(0.370, 1.620, 0.630, 1.410);
}

#blue-bird{
    position: absolute;
    margin-top: 37.9%;
    top: 0;
    left: 41.6%;
    transition: all 1.5s cubic-bezier(0.370, 1.620, 0.630, 1.410);
}

#footer{
    float: left;
    position: relative;
}

/* Bird Animations */
#brown-bird:hover{
    transform: translate(0,-20px);
}

#red-bird:hover{
    transform: translate(0,-20px);
}

#blue-bird:hover{
    transform: translate(0,-20px);
}
